.brand-logo{
    height:3rem;
    width: 3rem;
    margin-left: .5rem;
}

.cart-logo{
    height: 2rem;
    width: 2rem;
    
    
}


.cart-button{
    display: flex;
    flex-direction: row;
}
.total-qty{
    font-size: 14px;
    color: white;
}

.round-container{
    background-color: #EF4040;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .cart-button {
    background-color: #ffc107;
    color: #333;
    border: none;
    
    cursor: pointer;
    display: flex;
    align-items: center;
  }
 
  
 
  




